@charset "UTF-8";
/*分页*/
.pager {
  padding: 20px 0; }
  .pager span {
    margin-bottom: 0; }
  .pager .laypage_main a, .pager .laypage_main span {
    font-size: 16px;
    margin: 0 3px 0 0;
    color: #000;
    padding: 0 5px;
    border: none;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    vertical-align: top; }
    .pager .laypage_main a:last-child, .pager .laypage_main span:last-child {
      margin-right: 0; }
  .pager .laypage_main .laypage_prev {
    background: url(/static/images/page_prev.png) scroll no-repeat left center;
    width: 34px;
    padding-left: 20px;
    overflow: hidden; }
  .pager .laypage_main .laypage_next {
    background: url(/static/images/page_next.png) scroll no-repeat center center;
    width: 103px;
    overflow: hidden; }
  .pager .laypage_main .laypage_curr {
    color: #0c3a9b; }

/*分页*/
.seainput {
  margin-top: 20px;
  width: 600px;
  height: 40px;
  color: #000;
  font-size: 16px;
  position: relative; }
  .seainput .input {
    border: 1px solid #999;
    height: 100%;
    box-sizing: border-box; }
    .seainput .input input {
      outline: none;
      text-indent: 10px;
      height: 100%;
      width: 100%;
      border-color: transparent; }
  .seainput i {
    position: absolute;
    top: 0px;
    right: -42px;
    display: block;
    background: url(/static/images/login.png) no-repeat -560px center;
    width: 41px;
    border: 1px solid #999;
    height: 38px;
    cursor: pointer; }

.showlist {
  margin-bottom: 10px; }
  .showlist ul {
    position: relative;
    overflow: hidden;
    padding-top: 31px;
    padding-left: 1px; }
    .showlist ul li {
      border-left: 1px solid #999;
      border-top: 1px solid #aaa;
      border-right: 1px solid #999;
      border-bottom: 1px solid #aaa;
      float: left;
      width: 198px;
      height: 298px;
      margin-left: -1px;
      margin-top: -1px;
      background-color: #fff;
      position: relative;
      overflow: hidden; }
      .showlist ul li .img {
        height: 224px;
        background: url(/static/images/list0.png) center center no-repeat; }
      .showlist ul li p {
        text-align: center;
        line-height: 1.2;
        padding: 0 5px; }
      .showlist ul li .tit {
        font-size: 15px;
        color: #000; }
      .showlist ul li .subtit {
        font-size: 13px;
        color: #a5a0a0; }
      .showlist ul li .delete {
        position: absolute;
        left: 0;
        bottom: -37px;
        height: 35px;
        width: 100%;
        background-image: url(/static/images/bg.png);
        background-position: center center;
        background-repeat: repeat;
        -webkit-animation: all .1s ease-in-out;
                animation: all .1s ease-in-out; }
        .showlist ul li .delete .icon {
          height: 100%;
          width: 100%;
          background-image: url(/static/images/del.png);
          background-position: center center;
          background-repeat: no-repeat; }
      .showlist ul li:hover .delete {
        bottom: 0; }