@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html, body {
    background-color: #eceff4;
    word-wrap: break-word;
    color: #000;
    font: 14px/1.5 helvetica, 'PingFangSC', 'microsoft yahei', '微软雅黑', 'STXihei', '华文细黑', tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

input {
    border-color: transparent;
}

dd {
    margin: 0px;
}

.center {
    width: 1000px;
    margin: 0 auto;
}

input::-ms-clear {
    display: none;
}

input {
    background: none;
    outline: none;
}

input[type="password"], input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button, select, textarea {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    outline: none;
}

.ellipsis {
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.break {
    word-break: break-all;
    word-wrap: break-word;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/* button */
.yellow {
    color: #FC5D7B;
}

.btn {
    color: #fff;
    text-align: center;
    font-size: 14px;
    background-color: #FC5D7B;
    width: 64px;
    padding: 6px 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'microsoft yahei';
}

.btn:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn.disabled, .btn:disabled {
    background: #f0f2f5;
    cursor: not-allowed;
}

/* button end */
img[src=""] {
    opacity: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img, embed, object, video, iframe {
    max-width: 100% !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #8fa0b1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #8fa0b1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #8fa0b1;
}

.underline:hover {
    text-decoration: underline !important;
}

.font_gray {
    color: #9E9E9E !important;
}

.font_black {
    color: #232326 !important;
}

.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.box .box_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.box_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*水平居中*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*垂直居中*/
}

.box_v_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*垂直居中*/
}

.box_v_bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    /*垂直距底*/
}

.table {
    display: table;
    width: 100%;
}

.table .table_cell {
    display: table-cell;
}

/*black_footer*/
.black_footer {
    min-width: 1140px;
    font-size: 14px;
    color: #555765;
    background: #363841;
    height: 97px;
    text-align: center;
    padding: 23px 0 38px 0;
    z-index: 9;
    position: relative;
}

.black_footer a {
    cursor: default;
}

.black_footer p {
    text-align: center;
}

.black_footer .imglist {
    float: left;
    position: relative;
    left: 50%;
    margin-top: 23px;
}

.black_footer .imglist li {
    position: relative;
    right: 50%;
    float: left;
    margin-right: 28px;
    display: table-cell;
    vertical-align: middle;
    width: 82px;
    height: 32px;
    text-align: center;
    /*设置水平居中*/
    overflow: hidden;
    *font-family: Arial;
    /*预防IE6，7在gbk2312编码下，垂直居中有时候会失效*/
}

.black_footer .imglist li a {
    *font-size: 27.936px;
    /*设置IE6,7垂直居中Hack，约为高度的0.873*/
}

.black_footer .imglist li a img {
    vertical-align: middle;
}

/*black_footer*/
/*white_footer*/
.white_footer {
    height: 96px;
    padding: 45px 0;
    background: #fff;
}

.white_footer p {
    color: #8fa0b1;
    font-size: 14px;
}

/*white_footer*/
/*header*/
.header {
    width: 100%;
    height: 59px;
    background: #fff;
    overflow: hidden;
    border-bottom: solid 1px #dbdbdb;
    font-family: 'PingFangSC', '微软雅黑';
    min-width: 1140px;
}

.header .logo {
    float: left;
    height: 59px;
    width: 202px;
    background: url(../../public/images/index/home_logo_l.png) no-repeat center;
}

.header .logo img {
    display: none;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .nav {
    display: none;
    color: #848689;
    float: right;
    line-height: 59px;
}

.header .nav div {
    float: left;
    text-align: center;
}

.header .nav div input {
    width: 72px;
    height: 59px;
    border: none;
    outline: none;
    background: #fff;
    color: #848689;
    cursor: pointer;
    font-size: 16px;
}

/*header*/
.index_header {
    height: 166px;
    position: relative;
}

.index_header .center {
    overflow: hidden;
    height: 100%;
}

.index_header .top0 {
    height: 48px;
    background: url(/static/images/hbg.png) repeat-x left center;
}

.index_header .top0 .left {
    width: 212px;
    height: 100%;
    float: left;
    background: url(/static/images/erlogo.png) no-repeat left center;
}

.index_header .top0 .rightul {
    float: right;
    height: 100%;
}

.index_header .top0 .rightul ul li {
    background: url(/static/images/login.png) 17px center no-repeat;
    padding: 13px 18px;
    border-right: 1px solid #ccc;
    display: inline-block;
    zoom: 1;
    _display: inline;
    min-width: 36px;
}

.index_header .top0 .rightul ul li span {
    text-indent: 36px;
    color: #333;
    font-size: 14px;
    display: inline-block;
    zoom: 1;
    _display: inline;
}

.index_header .top0 .rightul ul li:nth-child(2) {
    background-position: -128px center;
}

.index_header .top0 .rightul ul li:nth-child(3) {
    background-position: -260px center;
}

.index_header .top0 .rightul ul li:nth-child(4) {
    background-position: -360px center;
}

.index_header .top0 .rightul ul li:nth-child(5) {
    background-position: -496px center;
}

.index_header .top0 .rightul ul li:nth-child(6) {
    background-position: -560px center;
    min-width: 0px;
    border: none;
}

.index_header .top0 .rightul ul li.li2 {
    background-position: -128px center;
}

.index_header .top0 .rightul ul li.li3 {
    background-position: -260px center;
}

.index_header .top0 .rightul ul li.li4 {
    background-position: -360px center;
}

.index_header .top0 .rightul ul li.li5 {
    background-position: -496px center;
}

.index_header .top0 .rightul ul li.li6 {
    background-position: -560px center;
    min-width: 0px;
    border: none;
}

.index_header .top1 {
    position: relative;
    height: 118px;
    background-color: #113071;
}

.index_header .top1 .center div {
    background: url(/static/images/logo.png) center center no-repeat;
    width: 73px;
    height: 100%;
    float: left;
}

.index_header .top1 ul {
    float: right;
    width: 914px;
}

.index_header .top1 ul li {
    margin: 0 16px;
    padding: 34px 0;
    display: inline-block;
    zoom: 1;
    _display: inline;
}

.index_header .top1 ul li span {
    color: #fff;
    display: inline-block;
    zoom: 1;
    _display: inline;
    font-size: 15px;
    text-align: center;
    max-width: 85px;
}

.index_header .top1 ul li span.dan {
    position: relative;
    padding-bottom: 10px;
    top: -10px;
}

.index_header .top1 ul li span.span91 {
    max-width: 91px;
}

.index_header .top1 ul li span.span94 {
    max-width: 101px;
}

.index_header .top1 ul li span:hover {
    border-bottom: 3px solid #fff;
}

.index_header .top1 ul li.last {
    margin-right: 0;
    position: relative;
}

.index_header .top1 ul li.last .down {
    position: absolute;
    top: 32px;
    right: -20px;
    height: 6px;
    width: 13px;
    background: url(/static/images/down.png) no-repeat center center;
}

.index_footer {
    margin-top: 76px;
    background-color: #fff;
    border-top: 1px solid #d2d2d2;
}

.index_footer .top {
    height: 136px;
}

.index_footer .top ul {
    position: relative;
    height: 135px;
}

.index_footer .top ul li {
    position: relative;
    display: inline-block;
    zoom: 1;
    _display: inline;
    vertical-align: top;
}

.index_footer .top ul li.li0 {
    width: 570px;
    padding-top: 44px;
}

.index_footer .top ul li.li0 .about {
    display: none;
    position: relative;
    top: -42px;
}

.index_footer .top ul li.li0 .about ul li {
    display: inline-block;
    zoom: 1;
    _display: inline;
    width: 167px;
    margin-right: 16px;
}

.index_footer .top ul li.li0 .about ul li h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 10px;
}

.index_footer .top ul li.li0 .about ul li p {
    font-size: 13px;
    line-height: 1.2;
    padding: 0;
}

.index_footer .top ul li.li0 a {
    display: inline-block;
    zoom: 1;
    _display: inline;
    width: 44px;
    height: 44px;
    background: url(/static/images/thirdlogin.png) 0 center no-repeat;
    margin-right: 23px;
}

.index_footer .top ul li.li0 a.a1 {
    background-position: -67px center;
}

.index_footer .top ul li.li0 a.a2 {
    background-position: -134px center;
}

.index_footer .top ul li.li0 a.a3 {
    background-position: -201px center;
}

.index_footer .top ul li.li0 a.a4 {
    background-position: -268px center;
}

.index_footer .top ul li.li0 a.a5 {
    background-position: -335px center;
}

.index_footer .top ul li.li0 .hr {
    position: absolute;
    right: 0;
    top: 25px;
    width: 1px;
    height: 85px;
    background-color: #d2d2d2;
}

.index_footer .top ul li.li1 {
    width: 426px;
}

.index_footer .top ul li.li1 .img {
    position: absolute;
    top: 30px;
    left: 110px;
    width: 66px;
    height: 77px;
    background: url(/static/images/join.png) no-repeat;
}

.index_footer .top ul li.li1 .join {
    width: 228px;
    padding: 18px 0 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.index_footer .top ul li.li1 h3 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.index_footer .top ul li.li1 p {
    font-size: 18px;
    color: #000;
    line-height: 1.3;
}

.index_footer .top ul li.li1 input[type="text"] {
    outline: none;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    width: 156px;
    height: 28px;
    text-indent: 2px;
}

.index_footer .top ul li.li1 input[type="button"] {
    position: absolute;
    right: 0;
    bottom: 17px;
    width: 60px;
    height: 30px;
    background-color: #5b5b5b;
    border-radius: 3px;
    color: #fff;
}

.index_footer .footer {
    height: 264px;
    background-color: #113071;
}

.index_footer .footer .center {
    padding-top: 90px;
}

.index_footer .footer .center .adiv {
    width: 530px;
    margin: 0 auto;
}

.index_footer .footer .center .adiv a {
    display: inline-block;
    zoom: 1;
    _display: inline;
    margin-right: 45px;
    color: #fff;
    font-size: 15px;
}

.index_footer .footer .center .adiv a.last {
    margin: 0;
}

.index_footer .footer .center .idiv {
    width: 310px;
    margin: 30px auto;
}

.index_footer .footer .center .idiv i {
    display: inline-block;
    zoom: 1;
    _display: inline;
    width: 40px;
    height: 25px;
    background: center no-repeat;
    background-size: contain;
    margin-right: 11px;
}

.index_footer .footer .center .idiv i.a1 {
    background-position: -116px center;
}

.index_footer .footer .center .idiv i.a2 {
    background-position: -166px center;
}

.index_footer .footer .center .idiv i.a3 {
    background-position: -217px center;
}

.index_footer .footer .center .idiv i.a4 {
    background-position: -268px center;
    margin: 0;
}

.index_footer .footer .center p {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.navmap {
    background: url(/static/images/navbg.png) center center repeat-x;
    height: 30px;
}

.navmap a {
    color: #000;
    font-size: 15px;
    line-height: 2;
}

.navmap a.active {
    color: #0543c3;
}

.navmap span {
    margin: 0 5px;
    color: #000;
}

.loginheader {
    height: 60px;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 15px;
    width: 100%;
}

.loginheader .back {
    font-size: 18px;
    position: absolute;
    top: 28px;
    left: 20px;
}

.loginheader .sign {
    position: absolute;
    right: 23px;
    top: 24px;
    width: 98px;
    height: 27px;
    border: 1px solid #fff;
    line-height: 27px;
    text-align: center;
    color: #fff;
}