.wrapper .detail {
  height: 656px;
  background-color: #fff;
  overflow: hidden; }
  .wrapper .detail:after {
    zoom: 1;
    content: "";
    clear: both; }
  .wrapper .detail .descimg {
    float: left;
    width: 498px;
    border: 1px solid #d2d2d2;
    border-top-color: transparent;
    height: 654px;
    position: relative; }
    .wrapper .detail .descimg .picBox {
      height: 540px; }
    .wrapper .detail .descimg ul.cf {
      width: 498px !important;
      overflow: hidden; }
      .wrapper .detail .descimg ul.cf li {
        float: left;
        width: 498px;
        height: 540px;
        display: none; }
        .wrapper .detail .descimg ul.cf li.on {
          display: block; }
    .wrapper .detail .descimg .img {
      height: 540px;
      background: center center no-repeat; }
    .wrapper .detail .descimg #prev, .wrapper .detail .descimg #next {
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 116px;
      background: center center url(/static/images/left.png) no-repeat;
      background-color: #f2f2f2; }
    .wrapper .detail .descimg #prev {
      left: 0; }
    .wrapper .detail .descimg #next {
      right: 0;
      background-image: url(/static/images/right.png); }
    .wrapper .detail .descimg ul.ul1 {
      width: 455px;
      position: relative;
      left: 27px;
      height: 116px; }
      .wrapper .detail .descimg ul.ul1 li {
        border: 1px solid #d2d2d2;
        width: 82px;
        height: 114px;
        margin-right: 2px;
        border-bottom-color: transparent;
        display: inline-block;
        zoom: 1;
        _display: inline; }
        .wrapper .detail .descimg ul.ul1 li div {
          background: center center no-repeat;
          width: 100%;
          height: 100%; }
  .wrapper .detail .descprice {
    float: right;
    width: 50%;
    height: 100%; }
    .wrapper .detail .descprice .main {
      padding: 36px; }
    .wrapper .detail .descprice h3 {
      font-size: 25px;
      color: #000;
      font-weight: bold;
      line-height: 30px; }
    .wrapper .detail .descprice p.title {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 45px; }
    .wrapper .detail .descprice span {
      font-size: 16px; }
    .wrapper .detail .descprice .eachprice {
      margin: 15px 0 35px; }
      .wrapper .detail .descprice .eachprice span {
        font-size: 30px;
        font-weight: bold; }
      .wrapper .detail .descprice .eachprice span.money {
        color: red;
        font-size: 36px;
        margin-right: 5px; }
    .wrapper .detail .descprice .num {
      font-size: 16px; }
      .wrapper .detail .descprice .num input[type="text"] {
        outline: none;
        font-size: 14px;
        color: #000;
        border: 1px solid #d2d2d2;
        padding: 0 3px;
        width: 60px;
        height: 20px;
        line-height: 20px;
        margin-left: 8px;
        margin-right: 3px;
        text-align: center; }
      .wrapper .detail .descprice .num input[type="button"] {
        outline: none;
        position: relative;
        top: 5px;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        background: url(/static/images/+.png) center center no-repeat;
        background-color: #113071;
        width: 22px;
        height: 22px; }
        .wrapper .detail .descprice .num input[type="button"].numj {
          background-image: url(/static/images/-.png);
          margin-left: 6px; }
    .wrapper .detail .descprice .tocart {
      background-color: #0d3589;
      color: #fff;
      width: 250px;
      height: 43px;
      line-height: 46px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-top: 16px;
      cursor: pointer;
      margin-bottom: 27px; }
.wrapper .detail .descprice .tocart#download{
  width: 320px;}
.wrapper .detail .descprice .tocart#download a{
  color:#fff;}
    .wrapper .detail .descprice .p0, .wrapper .detail .descprice .p1 {
      background-color: #f5f5f5;
      padding: 0 34px; }
    .wrapper .detail .descprice .p0 {
      font-size: 18px;
      margin-bottom: 30px;
      margin-bottom: 1px;
      line-height: 42px;
      text-transform: uppercase; }
    .wrapper .detail .descprice .p1 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      padding: 15px 34px; }

.wrapper .subtitle .title {
  background-color: #113071;
  color: #fff;
  padding: 0 10px;
  position: relative;
  line-height: 40px;
  height: 40px; }
  .wrapper .subtitle .title span {
    font-weight: bold;
    font-size: 17px; }
  .wrapper .subtitle .title a {
    font-size: 14px;
    position: absolute;
    color: #fff;
    right: 10px;
    cursor: pointer; }
    .wrapper .subtitle .title a:hover {
      text-decoration: underline; }

.wrapper .Productdecs {
  margin: 20px 0; }
  .wrapper .Productdecs p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.4; }
    .wrapper .Productdecs p.po {
      margin-top: 20px; }
  .wrapper .Productdecs h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .wrapper .Productdecs ul {
    position: relative;
    left: 40px;
    margin-bottom: 10px; }
    .wrapper .Productdecs ul li {
      list-style-type: decimal; }

.wrapper .Similarpro {
  position: relative; }
  .wrapper .Similarpro .hotdeswrapper {
    overflow: hidden;
    position: relative;
    width: 937px;
    margin: 0 auto;
    margin-top: 36px; }
  .wrapper .Similarpro ul {
    width: 10000px;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    padding-left: 2px;
    height: 270px; }
    .wrapper .Similarpro ul li {
      vertical-align: middle;
      background-color: #fff;
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      position: relative;
      display: inline-block;
      _display: inline;
      zoom: 1;
      width: 156px;
      height: 268px;
      border: 1px solid #d2d2d2;
      margin-left: -2px; }
      .wrapper .Similarpro ul li a {
        display: block;
        height: 100%; }
        .wrapper .Similarpro ul li a div {
          height: 134px;
          background: center center no-repeat; }
        .wrapper .Similarpro ul li a p {
          text-align: center;
          color: #000; }
        .wrapper .Similarpro ul li a p.p0 {
          font-size: 13px;
          line-height: 1.5;
          padding: 0 3px; }
        .wrapper .Similarpro ul li a p.p1 {
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0; }
        .wrapper .Similarpro ul li a p.p2 i {
          display: inline-block;
          zoom: 1;
          _display: inline;
          width: 13px;
          height: 12px;
          background: url(/static/images/star.png); }
  .wrapper .Similarpro .pageicon {
    background-color: #f2f4f7;
    width: 19px;
    height: 268px;
    display: inline-block;
    _display: inline;
    zoom: 1;
    position: absolute;
    bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #d2d2d2; }
  .wrapper .Similarpro .pageprev {
    left: 0px;
    background-image: url(/static/images/left.png); }
  .wrapper .Similarpro .pagenext {
    right: 0px;
    background-image: url(/static/images/right.png); }

.wrapper .index_footer {
  margin-top: 40px; }