.wrapper .main {
  padding: 0 7px;
  background-color: #fff;
  padding-top: 20px;
  min-height: 700px; }
  .wrapper .main .twolist {
    margin-bottom: 20px; }
    .wrapper .main .twolist ul {
      background-color: #fff;
      border: 1px solid #aaa;
      height: 205px; }
      .wrapper .main .twolist ul li {
        display: inline-block;
        zoom: 1;
        _display: inline;
        width: 49%;
        position: relative;
        overflow: hidden;
        height: 100%; }
        .wrapper .main .twolist ul li:after {
          clear: both; }
        .wrapper .main .twolist ul li .l, .wrapper .main .twolist ul li .r {
          float: left;
          height: 100%; }
        .wrapper .main .twolist ul li .l {
          width: 220px;
          background: url(/static/images/list0.png) center center no-repeat; }
        .wrapper .main .twolist ul li .r {
          width: 230px;
          padding: 0 3px; }
          .wrapper .main .twolist ul li .r p {
            line-height: 1.2; }
          .wrapper .main .twolist ul li .r .p0 {
            margin-top: 40px;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold; }
          .wrapper .main .twolist ul li .r .p1 {
            font-size: 13px; }
        .wrapper .main .twolist ul li .hr {
          position: absolute;
          top: 15px;
          right: 0;
          width: 1px;
          height: 100%;
          background: url(/static/images/line.png) no-repeat; }
  .wrapper .main .checklist input[type="checkbox"] {
    opacity: 0; }
  .wrapper .main .checklist label {
    width: 20px;
    display: inline-block;
    height: 20px;
    background: url(/static/images/downcheck.png) left 0px no-repeat; }
    .wrapper .main .checklist label.checked {
      background-position: right top; }
  .wrapper .main .checklist .all {
    border-bottom: 1px solid #a9a9a9;
    color: #000; }
  .wrapper .main .checklist table {
    margin-bottom: 30px; }
    .wrapper .main .checklist table th {
      position: relative;
      padding: 30px 0;
      border-bottom: 1px dashed #7f7f7f;
      vertical-align: middle; }
    .wrapper .main .checklist table .th0 {
      width: 38px; }
    .wrapper .main .checklist table .th1 {
      width: 430px;
      padding-right: 60px; }
    .wrapper .main .checklist table .th2 {
      width: 150px;
      text-align: center; }
    .wrapper .main .checklist table .th3 {
      text-align: center;
      width: 190px; }
    .wrapper .main .checklist table .th4 {
      width: 104px; }
      .wrapper .main .checklist table .th4 p {
        opacity: 1;
        float: right;
        color: red;
        cursor: pointer;
        text-decoration: underline; }
  .wrapper .main #download {
    width: 131px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    background-color: #047aff;
    float: right;
    text-align: center;
    cursor: pointer; }

.third {
  display: none !important; }

.about {
  display: block !important; }