.wrapper{
	.main{
		padding:0 7px;
		background-color: #fff;
		padding-top:20px;
		.twolist{
			margin-bottom:20px;
			ul{
				background-color:#fff;
				border:1px solid #aaa;
				height:205px;
				li{
					display:inline-block;
					zoom:1;
					_display:inline;
					width:49%;
					position:relative;
					overflow:hidden;
					height:100%;
					&:after{
						clear:both;
					}
					.l,.r{
						float:left;
						height:100%;
					}
					.l{
						width:220px;
						background:url(/public/images/list0.png) center center no-repeat;
					}
					.r{
						width:230px;
						padding:0 3px;
						p{
							line-height:1.2;
						}
						.p0{
							margin-top:40px;
							margin-bottom:10px;
							font-size:18px;
							font-weight:bold;
						}
						.p1{
							font-size:13px;
						}
					}
					.hr{
						position:absolute;
						top:15px;
						right:0;
						width:1px;
						height:100%;
						background:url(/public/images/line.png) no-repeat;
					}
				}
			}
		}
	}
}