$yellow:#FC5D7B;
$gray:#f7f7f7;
$gray2:#dbdbdb;
$colorBrand:#55c1dd;
$text:#9E9E9E;
$background:#eceff4;
$large:700;
$normal:500;
$black:#000;
$title:#000;
$c9e9:$text;
$c424:$title;
$c55c:$colorBrand;
$cfc5:$yellow;
$cdbd:$gray2;
$cf7f:$gray;